/* Page containers ***************************************/
#center-column {
    width: 384px;
    margin: 40px auto 20px;
    border: 3px solid #333;
    background: #fff;
}
/* These must be "block", not "none", because "goog.style.showElement()" restores to
 default when showing an element. */
#index-page, #request-page, #chat-room-page {
    display: block;
}
#url-list {
    display: none;
}


/* Top bar *****************************************/
#center-column #top-bar {
    background-image: url("@@{'/public/images/sprite.jpg'}");
    background-position: 0 -34px;
    background-repeat: repeat-x;
}
#center-column #top-bar h1 {
    background-image: url("@@{'/public/images/sprite.jpg'}");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 34px;
    max-width: 385px;
    padding: 0 0 0 9px;
    margin: 0;
    line-height: 34px;
    font-size: 21px;
    font-weight: normal;
}


/* Actual content **********************************/
#center-column #content {
    padding: 5px 0 0;
}


/* Bottom buttons **********************************/
#bottom-buttons {
}
#bottom-buttons a {
    width: 96px;
    height: 41px;
    float: left;
    text-decoration: none;
    background-image: url("@@{'/public/images/sprite.jpg'}");
    background-repeat: no-repeat;
}
#bottom-buttons-add {
    background-position: 0 -148px;
}
#bottom-buttons-houl {
    background-position: -96px -148px;
}
#bottom-buttons-unknown {
    background-position: -192px -148px;
}
#bottom-buttons-options {
    background-position: -288px -148px;
}


/* Buddy list ***********************************/

.buddy {
    padding: 0 7px 7px;
    margin-bottom: 5px;
    min-height: 58px;
    %{
    fancyDeboss = play.getFile('/public/images/buddy-bg.png');
    base64 = play.libs.Images.toBase64(fancyDeboss)
    }%
    background-image: url('${base64}');
    background-position: bottom left;
    background-repeat: repeat-x;
}

.buddy img {
    float: left;
    margin: 7px 10px 0 0;
}

/* Name */
.buddy .buddy-name {
    margin: 0;
    padding: 0;
    line-height: 25px;
    font-size: 19px;
    font-weight: normal;
    display: inline;
    position: relative;
    top: 4px;
    text-decoration: none;
    color: inherit;
}
.buddy .buddy-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Type and time */
.buddy .buddy-type-and-time {
    float: right;
    text-align: right;
    color: #666;
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
}
.buddy.request-type .buddy-type-and-time strong {
    color: #bb7ad5;
}
.buddy.open-chat-type .buddy-type-and-time strong {
    color: #3f83e4;
}

/* Message/status */
.buddy .buddy-message {
    margin: 2px 0 0 60px;
    padding: 2px 13px;
    font-size: 12px;
    line-height: 15px;
    font-style: italic;
    color: #000;
    background-color: #ccc;
    border-color: #aaa;
    border-width: 2px 0;
    border-style: solid;
    position: relative;
}
.buddy .buddy-message em {
    font-weight: bold;
    font-style: normal;
}
.buddy.request-type .buddy-message {
    background-color: #e4d7e9;
    border-top-color: #bb7ad5;
    border-bottom-color: #d0acde;
}
.buddy.open-chat-type .buddy-message {
    background-color: #dae4ef;
    border-top-color: #3F83E4;
    border-bottom-color: #a1c0e2;
}
.buddy.other-type .buddy-message {
    background-color: #e6e6e6;
    border-top-color: #bdbdbd;
    border-bottom-color: #bdbdbd;
}

/* Quote marks */
.buddy .buddy-message .quote {
    font-size: 19px;
    position: absolute;
    font-weight: bold;
}
.buddy.request-type .buddy-message .quote {
    color: #bb7ad5;
}
.buddy.open-chat-type .buddy-message .quote {
    color: #3f83e4;
}
.buddy.other-type .buddy-message .quote {
    color: #666;
}
.buddy .buddy-message .quote:nth-child(1) {
    top: 2px;
    left: 1px;
}
.buddy .buddy-message .quote:last-child {
    bottom: -5px;
    right: 5px;
}
