#auth-body {
    height: 100%;
    margin: 0 auto;
    background: #fff;
    position: relative; /* so emoticons choose can be absolutely positioned */
}


/* Top bar *****************************************/
#top-bar {
    height: 34px;
    background-image: url("@@{'/public/images/sprite.jpg'}");
    background-position: 0 0;
    background-repeat: no-repeat;
}
#top-bar h1 {
    height: 34px;
    margin: 0;
    line-height: 34px;
    font-size: 21px;
    font-weight: normal;
}
#top-bar h1.left {
    float: left;
    padding: 0 0 0 9px;
}
#top-bar h1.right {
    float: right;
    padding: 0 9px 0 0;
    text-shadow: 0px 0px 12px #fff;
}


/* Actual content **********************************/
#content {
    /* Height is set by JavaScript to take up all remaining height. */
    overflow-y: scroll;
    background-color: #fff;
}
#loading-page, #index-page, #request-page, #chat-room-page, #options-page {
    /* These must be explicilty "display:block;", because "goog.style.showElement()" restores to
     default style (must be block, not none or null). */
    display: block;
}
#loading-page {
    text-align: center;
    padding: 30px 0 0;
}
#url-list {
    display: none;
}


/* Bottom buttons **********************************/
#bottom-buttons {
    height: 76px;
    %{ base64 = play.libs.Images.toBase64(play.getFile('/public/images/bottom-buttons/bg.png')) }%
    background-image: url('${base64}');
    background-position: bottom left;
    background-repeat: repeat-x;
}
#bottom-buttons div {
    margin: 5px 3px;
    cursor: pointer;
    height: 66px;
    float: left;
    text-decoration: none;
    %{ base64 = play.libs.Images.toBase64(play.getFile('/public/images/bottom-buttons/sprite.png')) }%
    background-image: url('${base64}');
    background-repeat: no-repeat;
}
#bottom-buttons-friends {
    width: 89px;
    background-position: 0 -66px;
}
#bottom-buttons-friends:hover,
#bottom-buttons-friends.current {
    background-position: 0 0;
}
/*#bottom-buttons-add-buddy {
    width: 88px;
    background-position: -97px -66px;
}
#bottom-buttons-add-buddy:hover,
#bottom-buttons-add-buddy.current {
    background-position: -97px 0;
}*/
#bottom-buttons-chat {
    width: 88px;
    background-position: -97px -66px;
}
#bottom-buttons-chat:hover,
#bottom-buttons-chat.current {
    background-position: -97px 0;
}
#bottom-buttons-houl {
    width: 80px;
    background-position: -192px -66px;
}
#bottom-buttons-houl:hover,
#bottom-buttons-houl.current {
    background-position: -192px 0;
}
#bottom-buttons-profile {
    width: 77px;
    background-position: -280px -66px;
}
#bottom-buttons-profile:hover,
#bottom-buttons-profile.current {
    background-position: -280px 0;
}
#bottom-buttons-more {
    width: 70px;
    background-position: -366px -66px;
}
#bottom-buttons-more:hover,
#bottom-buttons-more.current {
    background-position: -366px 0;
}


/* Common between buddy list and chat rooms ******************************************/

.cms-message,
.relationship-message {
    color: #121212;
    font-size: 12px;
    line-height: 17px;
    border-color: #d8d8d8;
    border-width: 2px 0;
    border-style: solid;
    background-color: #eeeeee;
    margin-top: 2px;
    padding: 3px 4px;
}


/* Buddy list / relationship *********************************************************/

.empty-buddy-list p {
    padding-left: 2em;
    padding-right: 2em;
}

.relationship {
    height: 100px;
    %{ base64 = play.libs.Images.toBase64(play.getFile('/public/images/friend-bg.png')) }%
    background-image: url('${base64}');
    background-position: bottom left;
    background-repeat: repeat-x;
}

.relationship img {
    float: left;
    margin: 10px 10px 8px 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.relationship-center {
    margin: 0 34px 0 72px;
}

/* Name */
.relationship-name {
    color: #000;
    text-decoration: none;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    margin: 0;
    padding: 10px 0 5px;
}
.relationship-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Time */
.relationship-time {
    color: #353535;
    font-size: 12px;
    line-height: 12px;
    font-style: italic;
    text-align: right;
    float: right;
    padding-top: 15px;
}

/* Message/status */
.relationship-message em {
    font-weight: bold;
    font-style: normal;
}
.relationship.request-type .relationship-message {
    background-color: #e4ecde;
    border-color: #c0e8a3;
}
.relationship.open-chat-type .relationship-message {
    background-color: #e8edf4;
    border-color: #a8c7ea;
}

/* Type bar on the right */
.relationship-type-bar {
    float: right;
    height: 100px;
    width: 26px;
}
.relationship.request-type .relationship-type-bar {
    %{ base64 = play.libs.Images.toBase64(play.getFile('/public/images/relationship-type-request.png')) }%
    background-image: url('${base64}');
}
.relationship.open-chat-type .relationship-type-bar {
    %{ base64 = play.libs.Images.toBase64(play.getFile('/public/images/relationship-type-open-chat.png')) }%
    background-image: url('${base64}');
}
.relationship.other-type .relationship-type-bar {
    %{ base64 = play.libs.Images.toBase64(play.getFile('/public/images/relationship-type-other.png')) }%
    background-image: url('${base64}');
}

/* Request buttons (accept/reject) */
.relationship .request {
    margin: 3px 0 0;
    padding: 0;
    font-size: 12px;
    line-height: 15px;
}
.relationship .request p {
    margin-top: 0;
    padding-top: 0;
}


/* Chat room **************************************************************************/

/* Messages */
.cms-message-list {
    margin-left: 59px;
}
.cms {
    padding: 0 7px 7px;
    margin: 7px 0 0;
    min-height: 58px;
    %{ base64 = play.libs.Images.toBase64(play.getFile('/public/images/friend-bg.png')) }%
    background-image: url('${base64}');
    background-position: bottom left;
    background-repeat: repeat-x;
}
.cms-user-image {
    float: left;
    margin: 0 10px 0 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.cms-name {
    color: #000;
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: inline;
}
.cms-time {
    color: #353535;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    line-height: 12px;
    float: right;
    padding-top: 14px;
}

/* New message form */
.chat-room-new-message {
    margin-top: 5px;
    width: 100%;
}
.chat-room-new-message td {
    padding: 0 0 0 5px;
}
.chat-room-new-message td:first-child {
    width: 100%;
}
.chat-room-new-message-field {
    width: 98.5%;
    line-height: 21px;
}
.chat-room-new-message-send,
.chat-room-new-message-emoticon {
}

/* Emoticons */
.cms-message img {
    position: relative;
    top: 3px;
}
#emoticon-chooser {
    position: absolute;
    right: 3%;
    bottom: 3%;
    border: 2px solid #000;
    background: #eef;
    width: 60px;
    padding: 5px;
}
#emoticon-chooser img {
    cursor: pointer;
}


/* Common styles on options page, edit profile page *****/

#options-page .option,
#edit-profile-page .option {
    padding: 0 10px 0 8px;
    cursor: pointer;
    border-bottom: 1px dashed #aaa;
    font-size: 12px;
}
#options-page .option:hover,
#edit-profile-page .option:hover,
#options-page .option:active,
#edit-profile-page .option:active {
    background-color: #eef;
}
#options-page .option h3,
#edit-profile-page .option h3 {
    margin: 15px 0 2px 15px;
    font-size: 19px;
}
#options-page .option .option-description,
#edit-profile-page .option .option-description {
    margin: 0 0 15px 15px;
}
#options-page .option-right,
#edit-profile-page .option-right {
    float: left;
}

#options-page .option-img,
#edit-profile-page .option-img {
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    margin: 18px 0 0 7px;
}


/* Options page ********************************************/
#send-feedback-form,
#change-password-form  {
    margin-left: 55px;
}
#send-feedback-form p,
#change-password-form p {
    margin: 0 0 15px;
}


/* Edit profile page ***************************************/

#edit-profile-page {
    padding-top: 15px;
}
#edit-profile-image {
    float: left;
    margin: 0 0 6px 15px;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    border: 1px dashed #aaa;
}
#edit-profile-image:hover {
    background-color: #eef;
}
#edit-profile-right {
    float: left;
    margin: 6px 5px 0 15px;
}
#edit-profile-name {
    margin: 0 0 5px;
    padding: 0;
}
#edit-profile-pin {
    font-size: 13px;
    margin-top: 0;
}
#edit-profile-status {
    font-size: 13px;
}
#edit-profile-status em {
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}
#edit-profile-name-icon,
#edit-profile-status-icon {
    cursor: pointer;
    position: relative;
    left: 2px;
}
#edit-profile-name-icon:hover,
#edit-profile-status-icon:hover {
    background-color: #eef;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


/* Houls ********************************************/

#send-houl p {
    margin: 0.7em 14px;
}
#send-houl .relationship {
    height: auto !important;
    padding-bottom: 9px !important;
}
#send-houl .relationship-name:hover {
    cursor: default !important;
    text-decoration: none !important;
}
p.incoming-houl {
    padding: 10px;
    margin: 5px 6px;
    background-color: #FFFFBD;
    font-size: 13px;
}
