/* Page containers ***************************************/
#center-column {
    width: 384px;
    margin: 40px auto 20px;
    border: 3px solid #333;
    background: #fff;
}
/* These must be "block", not "none", because "goog.style.showElement()" restores to
 default when showing an element. */
#loading-page, #index-page, #request-page, #chat-room-page, #options-page {
    display: block;
    height: 370px;
    max-height: 370px;
    overflow-y: scroll;
}
#url-list {
    display: none;
}


/* Top bar *****************************************/
#center-column #top-bar {
    background-image: url("@@{'/public/images/sprite.jpg'}");
    background-position: 0 -34px;
    background-repeat: repeat-x;
}
#center-column #top-bar h1 {
    background-image: url("@@{'/public/images/sprite.jpg'}");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 34px;
    max-width: 385px;
    padding: 0 0 0 9px;
    margin: 0;
    line-height: 34px;
    font-size: 21px;
    font-weight: normal;
}


/* Actual content **********************************/
#center-column #content {
}


/* Bottom buttons **********************************/
#bottom-buttons {
}
#bottom-buttons div {
    cursor: pointer;
    width: 96px;
    height: 41px;
    float: left;
    text-decoration: none;
    background-image: url("@@{'/public/images/sprite.jpg'}");
    background-repeat: no-repeat;
}
#bottom-buttons-add-buddy {
    background-position: 0 -148px;
}
#bottom-buttons-houl {
    background-position: -96px -148px;
}
#bottom-buttons-unknown {
    background-position: -192px -148px;
}
#bottom-buttons-options {
    background-position: -288px -148px;
}


/* Common styles between buddy list and chat room ***/

.relationship,
.cms {
    padding: 0 7px 7px;
    margin: 7px 0 0;
    min-height: 58px;
    %{
    fancyDeboss = play.getFile('/public/images/buddy-bg.png');
    base64 = play.libs.Images.toBase64(fancyDeboss)
    }%
    background-image: url('${base64}');
    background-position: bottom left;
    background-repeat: repeat-x;
}

.relationship img,
.cms img {
    float: left;
    margin: 0 10px 0 0;
}

/* Name */
.relationship-name,
.cms-name {
    margin: 0;
    padding: 0;
    font-size: 19px;
    font-weight: normal;
    display: inline;
    text-decoration: none;
    color: inherit;
}

/* Time */
.relationship-type-and-time,
.cms-time {
    float: right;
    text-align: right;
    color: #666;
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
}

/* Message */
.relationship-message,
.cms-message {
    margin: 2px 0 0 60px;
    font-size: 12px;
    line-height: 15px;
    color: #000;
    border-color: #bdbdbd;
    border-width: 2px 0;
    border-style: solid;
    background-color: #e6e6e6;
}


/* Loading page *********************************/

#loading-page {
    text-align: center;
    padding: 30px 0 0;
    background-color: #d8e7ec;
}


/* Buddy list ***********************************/

.empty-buddy-list p {
    padding-left: 2em;
    padding-right: 2em;
}

/* Name */
.relationship-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Type (request, last message, etc.) */
.relationship.request-type .relationship-type-and-time strong {
    color: #bb7ad5;
}
.relationship.open-chat-type .relationship-type-and-time strong {
    color: #3f83e4;
}

/* Message/status */
.relationship-message {
    padding: 2px 13px;
    font-style: italic;
    position: relative;
}
.relationship-message em {
    font-weight: bold;
    font-style: normal;
}
.relationship.request-type .relationship-message {
    background-color: #e4d7e9;
    border-top-color: #bb7ad5;
    border-bottom-color: #d0acde;
}
.relationship.open-chat-type .relationship-message {
    background-color: #dae4ef;
    border-color: #3F83E4;
}

/* Quote marks */
.relationship .relationship-message .quote {
    font-size: 19px;
    position: absolute;
    font-weight: bold;
}
.relationship.request-type .relationship-message .quote {
    color: #bb7ad5;
}
.relationship.open-chat-type .relationship-message .quote {
    color: #3f83e4;
}
.relationship.other-type .relationship-message .quote {
    color: #666;
}
.relationship .relationship-message .quote:nth-child(1) {
    top: 2px;
    left: 1px;
}
.relationship .relationship-message .quote:last-child {
    bottom: -5px;
    right: 5px;
}

/* Request buttons (accept/reject) */
.relationship .request {
    margin: 2px 0 0 60px;
    padding: 0;
    font-size: 12px;
    line-height: 15px;
}


/* Chat room ***********************************/
.cms-message {
    padding: 2px 7px;
    margin-top: 6px;
}
.chat-room-new-message {
    margin-top: 5px;
}
.chat-room-new-message-field {
    float: left;
    width: 74%;
    margin-left: 6px;
    line-height: 21px;
}
.chat-room-new-message-send {
    float: right;
    margin-right: 6px;
}


/* Options page ******************************/

#options-page {
    background-color: #ddd;
    color: #000;
}

#options-page .option {
    height: 50px;
    cursor: pointer;
}
#options-page .option-img {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
}
#options-page .option h4 {
    margin-top: 0;
}
