#unauth-body {
    margin: 0 auto;
    padding: 10px;
    color: #fff;
    font-weight: bold;
}
#unauth-body #logo {
    margin: 0 auto;
    text-align: center;
}
#unauth-body h1 {
    font-size: 23px;
}
#unauth-body form p {
    margin: 10px 0;
}

#login-column-1, #login-column-2 {
    width: 47.5%;
    float: left;
}
#login-column-1 {
    margin-right: 2%;
    text-align: right;
}
#login-column-2 {
    margin-left: 2%;
}
