#unauth-content {
    margin: 0 auto;
    padding: 30px 10px 10px;
    background: #fff;
    text-align: left;
}

#login-column-1, #login-column-2 {
    width: 49%;
    float: left;
}
#login-column-1 h1, #login-column-2 h1 {
    margin-top: 0;
}
