#unauth-content {
    margin: 30px auto 10px;
    width: 600px;
    border: 8px solid #333;
    padding: 20px;
    background: #fff;
    text-align: left;
}

#login-column-1, #login-column-2 {
    width: 49%;
    float: left;
}
#login-column-1 h1, #login-column-2 h1 {
    margin-top: 0;
}
