<script type="text/html" id="message_tmpl">
    <% if (event.type == 'message') { %>
        <div class="message <%= event.user == '${params.get("user")}' ? 'you' : '' %>">
            <h2><%= event.user %></h2>
            <p><%= event.text %></p>
        </div>
    <% } %>
    <% if(event.type == 'join') { %>
        <div class="message notice">
            <h2></h2>
            <p><%= event.user %> joined the room</p>
        </div>
    <% } %>
    <% if(event.type == 'leave') { %>
        <div class="message notice">
            <h2></h2>
            <p><%= event.user %> left the room</p>
        </div>
    <% } %>
    <% if(event.type == 'quit') { %>
        <div class="message important">
            <h2></h2>
            <p>You are now disconnected!</p>
        </div>
    <% } %>
</script>