#{extends 'layout.html' /}
#{set title:'Change Your Password - ' + SITE_NAME /}

<h1>Change Your Password</h1>

#{form @UserAuth.changePasswordHandler(), method: 'post'}
    <table>
        <tbody>
            <tr>
                <th><label for="oldPassword">Your current password:</label></th>
                <td>
                    <input type="password" value="" autocomplete="off" name="oldPassword" id="oldPassword" required />
                    #{form-error-if-exists 'oldPassword', tag: 'span' /}
                </td>
            </tr>
            <tr>
                <th><label for="newPassword1">New password:</label></th>
                <td>
                    <input type="password" value="" autocomplete="off" name="newPassword1" id="newPassword1" required />
                    #{form-error-if-exists 'newPassword1', tag: 'span' /}
                </td>
            </tr>
            <tr>
                <th><label for="newPassword2">New password, again:</label></th>
                <td>
                    <input type="password" value="" autocomplete="off" name="newPassword2" id="newPassword2" required />
                    #{form-error-if-exists 'newPassword2', tag: 'span' /}
                </td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="Save" /></td>
            </tr>
        </tbody>
    </table>

    <input type="hidden" name="forward" value="${forward}" />
#{/}
