#{extends 'layout.html' /}
#{set title:'Forgot Your Password? - ' + SITE_NAME /}

<h1>Forgot Your Password?</h1>

<p>We will send a link to your email address that will allow you to reset your password.</p>

#{form @UserAuth.forgotPasswordHandler(), method: 'post', onsubmit:"this.submit.value='Please wait...';this.submit.disabled=1;"}
    <table>
        <tbody>
            <tr>
                <th><label for="email">Registered email address:</label></th>
                <td><input type="email" required="required" id="email" name="email" value="${flash.email}" size="20" placeholder="name@example.com" /></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="Submit" id="submit-form" /></td>
            </tr>
        </tbody>
    </table>
#{/}
