#{extends 'layout.html' /}
#{set title: SITE_NAME /}
#{set bodyId: 'login-page' /}
#{set navBreadcrumbs: 'Login' /}

#{if overrideMessage}
    <div class="flash-message">${overrideMessage.raw()}</div>
#{/}

<div id="logo">
    <img src="@@{'/public/images/unauth-logo.png'}" width="198" height="308" alt="${chatapp.Constants.SITE_NAME}" />
</div>

<div id="login-column-1" class="login-column">
    <h1>Login</h1>

    #{include 'UserAuth/_login-form.html' /}
</div>

<div id="login-column-2" class="login-column">
    <h1>Register</h1>

    #{include 'UserAuth/_register-form.html' /}
</div>
