#{extends 'layout.html' /}
#{set title: SITE_NAME /}
#{set bodyId: 'login-page' /}
#{set navBreadcrumbs: 'Login' /}

#{if overrideMessage}
    <div class="flash-message">${overrideMessage.raw()}</div>
#{/}

<p>
    <img src="@@{'/public/images/logo.png'}" width="100" height="100" alt="${chatapp.Constants.SITE_NAME}" />
</p>

<p>${SITE_NAME} is lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>

<div id="login-column-1" class="login-column">
    <h1>Login</h1>

    #{include 'UserAuth/_login-form.html' /}
</div>

<div id="login-column-2" class="login-column">
    <h1>Register</h1>

    #{include 'UserAuth/_register-form.html' /}
</div>
