#{extends 'layout.html' /}
#{set title: 'Reset Your Password - ' + SITE_NAME /}

<h1>Reset Your Password</h1>

<p>You are about to reset the password for the account registered to ${user.email}.</p>

#{form @UserAuth.resetPasswordHandler(), method: 'post', onsubmit:"this.submit.value='Please wait...';this.submit.disabled=1;"}
    <table>
        <tbody>
            <tr>
                <th><label for="password">New password:</label></th>
                <td><input type="password" required="required" id="password" name="password" autocomplete="0" size="20" /></td>
            </tr>
            <tr>
                <th><label for="password2">New password, again:</label></th>
                <td><input type="password" required="required" id="password2" name="password2" autocomplete="0" size="20" /></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="Submit" id="submit-form" /></td>
            </tr>
        </tbody>

        <input type="hidden" name="u" value="${user.id}" />
        <input type="hidden" name="vc" value="${user.getValidationCode()}" />
    </table>
#{/form}
