%{
requestHandler = play.mvc.Router.reverse('Application.requestHandler')
requestHandler = requestHandler.add('requesterId', '?');
requestHandler = requestHandler.add('response', '?')
requestHandler.absolute()

roomJson = play.mvc.Router.reverse('Chat.roomJson')
roomJson = roomJson.add('userId', '?')
roomJson.absolute()

say = play.mvc.Router.reverse('Chat.say')
say = say.add('userId', '?')
say = say.add('message', '?')
say.absolute()

waitForMessages = play.mvc.Router.reverse('Chat.waitForMessages')
waitForMessages = waitForMessages.add('userId', '?')
waitForMessages = waitForMessages.add('lastReceived', '?')
waitForMessages.absolute()

addBuddy = play.mvc.Router.reverse('Application.addBuddy')
addBuddy = addBuddy.add('pinOrEmail', '?')
addBuddy.absolute()

user = play.mvc.Router.reverse('Application.user')
user = user.add('id', '?')
user.absolute()

sendFeedback = play.mvc.Router.reverse('Application.sendFeedback')
sendFeedback = sendFeedback.add('message', '?')
sendFeedback.absolute()

changeName = play.mvc.Router.reverse('Application.changeName')
changeName = changeName.add('name', '?')
changeName.absolute()

postStatusUpdate = play.mvc.Router.reverse('Application.postStatusUpdate')
postStatusUpdate = postStatusUpdate.add('status', '?')
postStatusUpdate.absolute()

changePassword = play.mvc.Router.reverse('UserAuth.changePasswordHandler')
changePassword = changePassword.add('password', '?')
changePassword.absolute()
}%
<div id="url-list"
     data-buddy-list="@@{Application.buddyListJson}"
     data-request-handler="${requestHandler}"
     data-room-json="${roomJson}"
     data-say="${say}"
     data-wait-for-messages="${waitForMessages}"
     data-logout="@@{UserAuth.logout}"
     data-add-buddy="${addBuddy}"
     data-user="${user}"
     data-current-user="@@{Application.currentUser}"
     data-send-feedback="${sendFeedback}"
     data-change-name="${changeName}"
     data-change-password="${changePassword}"
     data-post-status-update="${postStatusUpdate}"
     data-upload-photo="@@{Application.uploadPhoto}"
     data-emoticons-dir="${play.mvc.Router.reverse(play.Play.getVirtualFile('/public/images/emoticons'), true)}"
     ></div>
