<div id="auth-body">
    <div id="top-bar">
        <h1>#{get 'topBarText' /}</h1>
    </div>

    <div id="content">
        #{debug-form-errors errors /}
        #{if flash?.success}<p id="flash-message">${flash.success}</p>#{/if}
        #{if flash?.error}<p id="flash-message">${flash.error}</p>#{/if}

        #{doLayout /}

        <div class="clearfix"></div>
    </div>
    
    <div id="bottom-buttons">
        <div id="bottom-buttons-home" title="Home">&nbsp;</div>
        <div id="bottom-buttons-add-buddy" title="Add a buddy">&nbsp;</div>
        <div id="bottom-buttons-houl" title="Houl at a buddy">&nbsp;</div>
        <div id="bottom-buttons-options" title="Options">&nbsp;</div>
    </div>
    <div class="clearfix"></div>
</div>

#{set 'moreScripts'}<script>houl.pages.initAuthPage();</script>#{/}
